/*
 *  Main
 */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: medium;
    min-width: 300px;
}
td{
    padding: 8px;
}
td:first-child {
    width: 5%;
}
td:last-child  {
    width: 15%;
    padding: 2px;
}
tr:nth-child(even){
    background-color: #eee
}
thead tr {
    background-color: #bbb;
}
tfoot tr {
    background-color: #ddd;
}
button i.material-icons{
    font-size: medium;
}
button{
    padding: 6px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    color: #555;
    outline: 0;
}
button:hover, button:focus{
    background-color: #555;
    color: #eee;
}
h1{
    min-width: 300px;
    padding: 5px;
    background: #555;
    color: #eee;
    margin: 0;
    text-align: center;
}
article{
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
div.article{
    vertical-align: top;
    display: inline-block;
    margin: 3px;
    border: #555 solid 1px;
    overflow: auto;
    width: calc( 100% - 8px);
    max-height: calc( 100% - 8px);
}
/*
 *  Form
 */
form{
    vertical-align: top;
    display: inline-block;
    margin: 3px;
    border: #555 solid 1px;
    overflow: auto;
    width: calc( 100% - 8px);
    max-height: calc( 100% - 8px);
}
label{
    display: block;
    padding: 8px;
}
label:nth-child(even){
    background-color: #eee
}
nav{
    padding: 2px;
    background-color: #ddd;
}
/*
 *  MAP
 */
div.map{
    position: sticky;
    height: 100%;
    width: 100%;
    background: black;
    margin-top: 5%;
}
div.room{
    position: absolute;
    text-align: center;
    white-space: nowrap;
    color: white;
}
div.room div{
    display: none;
    position: absolute;
    left: calc( 100% + 1px);
    top: -25px;
    height:  calc( 100% + 50px);
    width: auto;
    background: black;
    z-index: 999;
}
div.room:hover div {
    display: inline-block;
}
text{
    display: block;
    width: calc( 100% - 20px);
    height: calc( 100% - 20px);
    padding: 10px;
}
div.room:hover div h2, div.room:hover div p{
    margin: 0;
    height: calc( 50% - 10px );
}