/*
 *    Common
 */
body, html{
	background-color: #202020;
    color: white;
    margin: 0;
    overflow: hidden;
	height: 100%;
	font-family: arial;
}
.hide{
	display: none;
}
p.error{
	text-align: center;
    color: #CCC;
    font-style: italic;
}
header{
	height:34px;
	background-color: #303030;
	border-bottom: #404040 solid 1px;
	padding: 8px;
    overflow: hidden;
	
}
section{
    width: 100%;
	height: calc(100% - 51px);
    overflow: auto;
	position: absolute;
}
div#explorer{
	margin: 10px;
}
section#addNew, section.confirm{
    text-align: center;
    background-color: #000000BB;
}
form#nav{
    display: inline-block;
	height: 30px;
	width: calc(100% - 140px);
	margin: 2px;
}
input.nav{
	height: calc(100% - 14px);
	width: calc(100% - 14px);
	background-color: transparent;
    color: #E0E0E0;
    border: #606060 solid 1px;
	padding: 5px;
}
button.nav {
    display: inline-block;
    border: none;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
	height: 30px;
	width: 30px;
	margin: 2px;
	border-radius: 15px;
    background-color: transparent;
	color: #E0E0E0
}
button.nav i.fas{
    font-size: 17px;
}
button.nav#noBut{
    height: 0;
}
button.nav:hover, button.nav:focus, input.nav:hover, input.nav:focus{
	background-color: #E0E0E0;
	color: #303030;
	outline: 0;
}
button.item {
    display: block;
    border: none;
    background-color: transparent;
    padding: 3px;
    width: 100%;
    color: #FFFFFF;
    text-align: left;
}
button.item:hover {
	background-color: #404040;
}
button.item:focus {
	outline: #606060 solid 1px;
}
div.popup{
    display: inline-block;
    background-color: #303030;
    border: #606060 solid 1px;
    border-radius: 30px;
}
section#addNew div.popup{
    margin-top: 50px;
    width: 70%;
}
section.confirm div.popup{
    margin-top: 70px;
    width: 50%;
}
.creeItem, .closePop, button.confirm{
	font-size: 15px;
	display: inline-block;
	margin: 20px;
    border-radius: 5px;
    background-color: #404040;
    border: #606060 solid 1px;
    color: white;
    padding: 5px;
    width: calc(100% - 100px);
}
.closePop{
    border-radius: 10px;
	font-size: 30px;
	margin: 10px;
	width: 49px;
	position: relative;
}
.creeItem:hover, .creeItem:focus, .closePop:hover, .closePop:focus, button.confirm:hover, button.confirm:focus{
    background-color: #505050;
    outline: 0;
}
.creeItem button{
    border-radius: 6px;
    border: 0;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 15px;
    width: 50px;
    padding: 0;
}
.creeItem button:hover, .creeItem button:focus{
	background-color: #FFFFFF;
    color: #505050;
    outline: 0;
	
}
.creeItem input::placeholder{
    color: #FFF;
	
}
.creeItem input{
	width: calc(100% - 210px);
    color: #FFF;
    background: transparent;
    border: 0;
}
.creeItem input:focus{
    outline: 0;
}
h1{
    margin: 20px 60px 0;
}
p#name ul {
    width: 200px;
    display: inline-block;
    margin: 0;
    text-align: left;
    list-style-type: decimal;
    padding-right: 40px;
	
}
p#name li{
	margin: 5px 0;
}
button.confirm{
	width: 280px;
    margin-top: 0;
}



div.editbox{
	position: absolute;
    right: 15px;
    display: none;
}
button.item:hover div.editbox, button.item:focus div.editbox{
	display: inline-flex;
}
div.editbox i{
	padding: 3px;
    border-radius: 11px;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-top: -3px;
}
div.editbox i:hover, div.editbox i:focus{
	background-color: #E0E0E0;
	color: #303030;
	outline: 0;
}


i.fa-folder{
    color: #FFE436;
}
i.fa-file{
    color: #ddd;
}
i.fa-file-code{
    color: #95C8D8;
}
i.fa-file-archive{
    color: #F99245;
}
i.fa-file-image{
    color: #2E8B57;
}


/*
 *
 *    Code Miror
 *
 */
.breakpoints {
	width: .8em;
}
.breakpoint {
	color: #822;
}
.CodeMirror {
	height: 100%!important;
}
/*
 *
 *    Form show
 *
 */
.container {
	display: inline-block;
    position: relative;
    padding-left: 25px;
    user-select: none;
    font-family: Arial;
    width: 50px;
    text-align: left;
}
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    width: 0;
    height: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #BBB;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark, .container input:focus ~ .checkmark {
  background-color: #999;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #BBB;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




/* LOADER */
.loading{
    background-color: #000000BB;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.loading div{
     width: 100px;
     height: 30px;
     background: white;
     position: absolute;
     opacity:0.05;
     animation: fadeit 1.1s linear infinite;
     top: 50%;
     left: 50%;
     margin-left: -50px;
     margin-top: -50px;
}
.loading div:nth-child(1){
     transform: rotate(0deg) translate(0, -30px);
     animation-delay:0.39s;
}
.loading div:nth-child(2){
     transform: rotate(45deg) translate(0, -30px);
     animation-delay:0.52s;
} 
.loading div:nth-child(3){
     transform: rotate(90deg) translate(0, -30px);
     animation-delay:0.65s;
} 
.loading div:nth-child(4){
     transform: rotate(135deg) translate(0, -30px);
     animation-delay:0.78s;
} 
.loading div:nth-child(5){
     transform: rotate(180deg) translate(0, -30px);
     animation-delay:0.91s;
} 
.loading div:nth-child(6){
    transform: rotate(225deg) translate(0, -30px);
     animation-delay:1.04s;
} 
.loading div:nth-child(7){
     transform: rotate(270deg) translate(0, -30px);
     animation-delay:1.17s;
} 
.loading div:nth-child(8){
     transform: rotate(315deg) translate(0, -30px);
     animation-delay:1.3s;
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
