/*
 *  Main
 */
:root {
  	--colorText: #A0A0A0;
	--arierPlanPage: #101010;
	--arierPlanElement: #202020;
	--premierPlan: #404040;
	--premierPlan2: #606060;
	--bordur: #000000;
	--vert: #1B5E20;
	--rouge: #B71C1C;
	--jaune: #FBC02D;
	--bleu: #0D47A1;
}
body, html{
	background-color: var(--arierPlanPage);
    color: var(--colorText);
    margin: 0;
    overflow: hidden;
	height: 100%;
	font-family: arial, serif;
}
.hide{
	display: none;
}
div.loading{
	background-color: #000000BB;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
div.loading div{
	width: 100px;
	height: 30px;
	background: white;
	position: absolute;
	opacity:0.05;
	animation: fadeit 1.1s linear infinite;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
}
div.loading div:nth-child(1){
	transform: rotate(0deg) translate(0, -30px);
	animation-delay:0.39s;
}
div.loading div:nth-child(2){
	transform: rotate(45deg) translate(0, -30px);
	animation-delay:0.52s;
}
div.loading div:nth-child(3){
	transform: rotate(90deg) translate(0, -30px);
	animation-delay:0.65s;
}
div.loading div:nth-child(4){
	transform: rotate(135deg) translate(0, -30px);
	animation-delay:0.78s;
}
div.loading div:nth-child(5){
	transform: rotate(180deg) translate(0, -30px);
	animation-delay:0.91s;
}
div.loading div:nth-child(6){
	transform: rotate(225deg) translate(0, -30px);
	animation-delay:1.04s;
}
div.loading div:nth-child(7){
	transform: rotate(270deg) translate(0, -30px);
	animation-delay:1.17s;
}
div.loading div:nth-child(8){
	transform: rotate(315deg) translate(0, -30px);
	animation-delay:1.3s;
}
@keyframes fadeit{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
header{
	height:34px;
	background-color: var(--arierPlanElement);
	border-bottom: var(--bordur) solid 1px;
	padding: 8px;
    overflow: hidden;
	text-align: center;
	
}
header div div{
	display: inline-block;
}
header div div:nth-child(1){
	text-align: left;
	width: 30%;
}
header div div:nth-child(2){
	text-align: center;
	width: 40%;

}
header div div:nth-child(3){
	text-align: right;
	width: 30%;

}
button.nav {
    display: inline-block;
    border: none;
    padding: 0;
    text-align: center;
	height: 30px;
	width: 30px;
	margin: 2px;
	border-radius: 15px;
    background-color: transparent;
	color: var(--colorText);
}
button.nav:hover, button.nav:focus{
	background-color: var(--colorText);
	color: var(--arierPlanElement);
	outline: 0;
}
span.ip{
	font-size: 160%;
}
span.tooltip {
	position: relative;
	display: inline-block;
}
span.tooltip span.tooltiptext {
	font-size: 63%;
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc( 100% + 90px );
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}
span.tooltip span.tooltiptext::after {
	content: "";
	position: absolute;
	left: -10px;
	top: 50%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}
span.tooltip:hover span.tooltiptext {
	visibility: visible;
	opacity: 1;
}
/*
 * Section
 */
section{
	width: calc(100% - 20px);
	height: calc(100% - 71px);
	padding: 10px;
	overflow: auto;
	position: absolute;
}
div.div{
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	background-color: var(--arierPlanElement);
	border: 1px solid var(--bordur);
}
form{
	margin-bottom: 0;
    display: block;
    margin-top: 0;
}
h1{
    text-align: center;
	font-size: 110%;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	margin-top: 0;
	margin-bottom: 10px;
}
.select{
	background-color: var(--premierPlan2)!important;
}
option, optgroup{
	overflow: hidden;
	background-color: var(--premierPlan);
	color: var(--colorText);
}
div.formSelect{
	text-align: center;
	margin-top: 0;
	padding: 2px;
	font-family: Arial, sans-serif;
	font-size: 100%;
	height: 30px;
	width: 300px;
	cursor: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
	border: 0;
	overflow: hidden;
	background-color: var(--premierPlan);
}
div.formSelecta{
	vertical-align: top;
	border-radius: 15px;
	margin-left: 0;
	width: 270px;
	height: 30px;
	display: inline-block;
	background-color: transparent;
}
div.formSelectb{
	border-radius: 15px;
	margin-left: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	display: inline-block;
}
select.formSelect{
	color: var(--colorText);
	width: 250px;
	margin-left: 10px;
	margin-right: 10px;
	border: 0;
	margin-top: 0;
	font-family: Arial, sans-serif;
	font-size: 100%;
	height: 30px;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid var(--colorText);
}
select.formSelect:hover{
	color: var(--colorText);
}
button.formSelect{
	color: var(--colorText);
	font-weight: bold;
	font-size: 100%;
	font-family: Arial, sans-serif;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin-left: 0;
	border: 0;
	padding: 0;
	margin-top: 0;
	background-color: transparent;
	outline: none;
}
select:invalid, option[value=""]{
	color: var(--premierPlan2);
}
button.formSelect2{
	color: var(--colorText);
	font-weight: bold;
	font-size: 100%;
	font-family: Arial, sans-serif;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin-left: 0;
	border: 0;
	padding: 0;
	margin-top: 0;
	background-color: transparent;
	outline: none;
	border-radius: 15px;
}
button.formSelect2:hover, button.formSelect2:focus {
		background-color: var(--premierPlan2);
}
div.formSelect span{
    line-height: 30px;
}






.console {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	background-color: #000;
}
.console .output {
	overflow: auto;
	width: 100%;
	font-size: 12px;
	color: #cccccc;
	height: 500px;
}
.console .output p {
	margin: 0;
	line-height: 20px;
	color: darkorchid;
	text-align: left;
}
.console .output p.INFO {
	color: white;
}
.console .output p.WARN {
	color: orange;
}
.console .output p.ERROR {
	color: orange;
}
.console .action {
	display: block;
	width: 100%;
	font-size: 14px;
	margin-top: 20px;
}
.console .action span{
	width: 60px;
}
.console .action input{
	width: calc( 100% - 60px - 21px );
 }
.console .action button{
	width: 21px;
}
.console .action span, .console .action input, .console .action button{
	outline: 0;
	padding: 0;
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	float: left;
	color: white;
	background: transparent;
	border: none;
}